body {
    font-size: 16px;
    color: black;
    background-color: white;
    font-family: 'Oxygen', sans-serif;
  }


 h1{
    font-size: 2em;
    font-size: 5vm;
    margin-bottom: 20;
    text-align: center;
    padding:20px;
  }
  
  /** HEADER **/
  #header-nav {
    background-color:rgb(196, 4, 4); 
    color: white;
    border-radius: 0;
    border: 0;
  }
  
  #logo-img {
    background: url('../images/kids_logo2.png') no-repeat;
    width: 201px;
    height: 100px;
    margin: 5px 5px 5px 0;
  }
  
  .navbar-brand {
    padding-top: 25px;
  }
  
  .navbar-brand .brand { /* WHEATLEY */
    font-family: 'Oxygen', sans-serif;
    color: white;
    font-size: 2em;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .9;
    text-align: right;
  }
  .navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
  }

  .navbar-brand p { /* domain */
    font-family: 'Oxygen', sans-serif;
    color: white;
    font-size: 1.5em;
    margin-top: 0;
    text-align: right;
  }
    


  .block{
    font-size: 2em;
    font-size: 5vm;
    margin-bottom: 20;
    text-align: center;
    border: 2px solid black;
    padding:20px;
    background-color: white;

  }




  footer {
    padding-top:10px;

    margin-top: 20px;
    background-color:rgb(196, 4, 4); 
    border-radius: 0;
    border: 0;
  }
  #email2 span {
    color:white;
    float: right;
    font-size: 1.2em;
    
  }

  #email2 div {
    color:lightblue;
    float: right;
    font-size: .7em;
    text-align: right;
    margin-bottom:30px;
    clear:both;
  }



#game-tile{
  height: 250px;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  border: 2px solid black;
  overflow: hidden;
}
#game-tile:hover{
  box-shadow: 0 5px 10px 5px red;
}






