body {
    font-size: 16px;
    color: black;
    background-color: lightblue;
    font-family: 'Oxygen', sans-serif;
  }
  
  /** HEADER **/
  #header-nav {
    background-color: steelblue;
    border-radius: 0;
    border: 0;
  }
  
  #logo-img {
    background: url('../images/logo-m.png') no-repeat;
    width: 100px;
    height: 100px;
    margin: 5px 5px 5px 0;
  }
  
  .navbar-brand {
    padding-top: 25px;
  }
  
  .navbar-brand h1 { /* WHEATLEY */
    font-family: 'Oxygen', sans-serif;
    color: black;
    font-size: 2em;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .9;
    text-align: right;
  }
  .navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
  }

  .navbar-brand p { /* domain */
    font-family: 'Oxygen', sans-serif;
    color: black;
    font-size: 1.5em;
    margin-top: 0;
    text-align: right;
  }
  
  #nav-list {
    margin-top: 10px;
  }
  #nav-list a {
    color:black;
    text-align: center;
  }
  #nav-list .highlight:hover {
    background: lightblue;
  }
  #nav-list a span {
    font-size: 1.8em;
  }
  
  #email {
    margin-top: 5px;
  }
  #email a { /* email */
    text-align: right;
    padding-bottom: 10;
  }
  #email div { /* Get in touch */
    color:lightblue;
    text-align: right;
    font-size: 0.8em;
    padding-right: 15px;
  }

  .mission{
    background: white;
    font-size: 2em;
    font-size: 5vm;
    margin-bottom: 20;
    text-align: center;
    border: 2px solid black;
    padding:20px;

  }
  
  .navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid lightblue;;
  }
  .navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -30px;
  }


 
/********** Large devices only **********/
@media (min-width: 1200px) {

}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  /* Header */

  /* End Header */
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  /* Header */

  /* End Header */
}

/********** Extra Small devices only **********/
@media (max-width: 767px) {
  /* Header */
  #logo-img {
    background: url('../images/logo_s.png') no-repeat;
    width: 50px;
    height: 50px;
    margin: 2px 2px 2px 5px;
  }

  .navbar-brand h1{
      font-size: 1.2em;
   
  }
  
  .navbar-brand p{
  font-size: 1em;
  padding-top: 5px;
  }

  .navbar-brand{
  padding-top: 5px;
  }

  #collapsable-nav a span{
    font-size: 1em;
    margin-right: 10px;
  }
}
  /* End Header */ 
  /* END HEADER */



  footer {
    padding-top:10px;

    margin-top: 20px;
    background-color: steelblue;
    border-radius: 0;
    border: 0;
  }
  #email2 span {
    color:black;
    float: right;
    font-size: 1.2em;
    
  }

  #email2 div {
    color:lightblue;
    float: right;
    font-size: .7em;
    text-align: right;
    margin-bottom:30px;
    clear:both;
  }



#kids-tile, #forum-tile, #events-tile, #map-tile {
  height: 250px;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  border: 2px solid black;
  overflow: hidden;
}
#kids-tile:hover, #forum-tile:hover, #events-tile:hover, #map-tile:hover {
  box-shadow: 0 5px 10px 5px steelblue;
}
#kids-tile {
  background: url('../images/kids_img.png') no-repeat;
  background-position: center;
}
#events-tile {
  background: url('../images/group_img.png') no-repeat;
  background-position: center;
}
#forum-tile {
  background: url('../images/workshop_img.png') no-repeat;
  background-position: center;
}

#kids-tile span, #forum-tile span,#events-tile span, #map-tile span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.6em;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  opacity: .8;
}
