header {
    background-color: black;
    padding:10px;
}

body {
    font-family:Helvetica;
    padding:10px;
}

footer{
    color:white; 
    background-color: black;

    padding:2px;
}

.no_bullet{
    list-style: none;
}

a.menu:link, a.menu:visited {
    text-decoration:none;
    background-color: #ff8800;
    color: white;
}

a.menu:hover, a.menu:active {
    background-color:grey;
    color: white;
}

.commentbox {
    line-height: 200px;
}